.loading-spinner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    // background: rgba(0, 0, 0, 0.15);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-end {
    display: flex;
    justify-content: flex-end;
}

.content-center {
    display: flex;
    justify-content: center;
}

.content-start {
    display: flex;
    justify-content: flex-start;
}

.ngx-pagination .current {
    background: #035F58 !important;
}

.sidebar[data-color="#035F58"]:after,
.off-canvas-sidebar[data-color="#035F58"]:after {
    background: #035F58 !important;
}
