<div class="logo top-background">
    <!-- <a href="https://celestedaylight.co.za/" class="simple-text logo-mini">
      <div class="logo-img">
          <img src="./assets/img/logo-main.png"/>
      </div>
    </a> -->
    <a href="https://celestedaylight.co.za/" class="simple-text logo-normal">
        Celeste Daylight
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p style="font-weight:bolder;">{{menuItem.title}}</p>
            </a>

        </li>
    </ul>
</div>