<div class="panel-header panel-header-sm"></div>
<div class="main-content">
    <div class="loading-spinner" *ngIf="isLoading">
        <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-10 col-lg-10">
                            <h4 class="card-title">System Tenants</h4>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead class="row px-2 text-primary">
                            <th class="col-5">Tenant Name</th>
                            <th class="col-5">Admin Name</th>
                            <th class="col-2">Action</th>
                        </thead>
                        <tbody>
                            <tr class="row px-2" *ngFor="let tenant of tenants | paginate: { itemsPerPage: 5, currentPage: p}">
                                <td class="col-5">{{tenant.tenancyName}}</td>
                                <td class="col-5">{{tenant.firstName}} {{tenant.lastName}}</td>
                                <td class="col-2">
                                    <div ngbDropdown class="dropdown" placement="bottom-right">
                                        <button class="btn btn-success dropdown-toggle" ngbDropdownToggle>
                                            Select Action
                                        </button>
                                        <div ngbDropdownMenu>
                                            <button class="dropdown-item" href="" (click)="editTenant(tenant)">Edit</button>
                                            <button class="dropdown-item" (click)="delete(tenant)">Delete</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row content-end" *ngIf="tenants.length > 5">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
