<div class="panel-header panel-header-sm"></div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            <h4 class="card-title">List of Modes Available</h4>
                        </div>
                        <!-- <div *ngIf="isAdmin" class="col-2 text-right">
                            <button [disabled]="true" type="button" class="btn btn-primary" (click)="createMode()"> New Mode
                            </button>
                        </div> -->
                    </div>
                </div>
                <div class="card-body">
                    <table class="table col-12" *ngIf="modes.length > 0">
                        <thead class="row px-2 text-primary">
                            <th class="col-7">Mode Name</th>
                            <th class="col-3">Active Times</th>
                            <th class="col-2">Action</th>
                        </thead>
                        <tbody>
                            <div class="loading-spinner" *ngIf="isLoading">
                                <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
                            </div>
                            <tr class="row px-2" *ngFor="let mode of modes">
                                <td class="col-7">{{ mode.name }}</td>
                                <td class="col-3">{{ mode.startTime }} - {{ mode.endTime }}</td>
                                <td class="col-2">
                                    <div *ngIf="isAdmin" ngbDropdown class="dropdown" placement="bottom-right">
                                        <button class="btn btn-success dropdown-toggle" ngbDropdownToggle>Select Action</button>
                                        <div ngbDropdownMenu>
                                            <a href="javascript:void(0);" class="dropdown-item" (click)="editMode(mode)">Assign To User(s)</a>
                                            <a href="javascript:void(0);" class="dropdown-item" (click)="delete(mode)">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <app-not-found *ngIf="modes.length == 0" message="Modes Not Found"></app-not-found>
                    <div class="row" *ngIf="p>1" class="content-end">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
