<div class="panel-header panel-header-sm"></div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-10 col-lg-10">
                            <h4 class="card-title">List of Modes Available</h4>
                        </div>
                        <div class="col-sm-2 col-lg-2">
                            <button type="button" class="btn btn-primary" (click)="createMode()">
                New Mode
              </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Mode Name</th>
                                <th>Mode Command</th>
                                <th style="width: 310px">Action</th>
                            </thead>
                            <tbody>
                                <div class="loading-spinner" *ngIf="isLoading">
                                    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
                                </div>
                                <tr *ngFor="let mode of modes">
                                    <td>{{ mode.name }}</td>
                                    <td>{{ mode.command }}</td>
                                    <td>
                                        <div ngbDropdown class="dropdown" placement="bottom-right">
                                            <button class="btn btn-success dropdown-toggle" ngbDropdownToggle> Select Action</button>
                                            <div ngbDropdownMenu>
                                                <a href="javascript:void(0);" class="dropdown-item" (click)="editMode(mode)">Assign To User(s)</a>
                                                <a href="javascript:void(0);" class="dropdown-item" (click)="delete(mode)">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row" class="content-end">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Configure Mode</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <ngb-tabset type="pills" [orientation]="currentOrientation">
        <ngb-tab title="Mode Details">
          <ng-template ngbTabContent>
            <div class="row">
              <div class="col-sm-10 col-lg-10">
                <div class="form-group">
                  <input
                    type="text"
                    value=""
                    placeholder="Mode Name"
                    class="form-control"
                  />
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 5px">
              <div class="col-sm-10 col-lg-10">
                <div class="form-group">
                  <input
                    type="text"
                    value=""
                    placeholder="Mode Description"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Assign Mode</ng-template>
          <ng-template ngbTabContent>
            <p style="margin-top: 20px">Assign mode to a user</p>
            <div class="form-check" style="margin-top: 10px">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                Yanga Ntondini
                <span class="form-check-sign"></span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                Sipho Ximbi
                <span class="form-check-sign"></span>
              </label>
            </div>

            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                Lundi Mapundu
                <span class="form-check-sign"></span>
              </label>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-light"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template> -->