<!-- <div [@routerTransition]> -->
<div class="wrapper">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!----Sign up here-->
        <h2 class="active"> Sign In </h2>
        <form novalidate autocomplete="off" #loginForm="ngForm" (ngSubmit)="login()">
            <input type="text" id="login" class="fadeIn first" #userNameOrEmailAddressModel="ngModel" #userNameOrEmailAddressEl [(ngModel)]="authService.authenticateModel.userNameOrEmailAddress" name="userNameOrEmailAddress" placeholder="Email address">
            <input type="password" id="password" class="fadeIn first" name="password" placeholder="Password" [(ngModel)]="authService.authenticateModel.password" #passwordModel="ngModel" #passwordEl>
            <div class="col-md-3" style="padding: 15px 32px;">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="rememberMe" name="rememberMe" [(ngModel)]="authService.rememberMe" />
                    <label for="rememberMe" class="custom-control-label">
                        {{ "RememberMe" | localize }}
                    </label>
                </div>
            </div>

            <input type="submit" class="fadeIn fourth" value="Log In" [disabled]="!loginForm.form.valid || submitting">
            <div class="loading-spinner" *ngIf="isLoading">
                <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
            </div>
        </form>
        <div id="formFooter">
            <div class="container">
                <a href="javascript:void(0);" class="underlineHover" (click)="openModal()">Forgot my password</a>
            </div>
        </div>
    </div>
</div>