<div class="wrapper">
  <div class="overlay">
    <div id="formContent">
      <div class="col-12">
        <i class="fa fa-check-circle fa-10x text-success mt-3" aria-hidden="true"></i>
        <div>
          <h3 class="text-uppercase py-4">Registration Successful!</h3>
          <p class="lead">An email with your login credentials is being sent your email account.</p>
        </div>
      </div>
      <div id="formFooter">
        <a href="javascript:void(0);" (click)="login()" class="underlineHover" href="#"
          >Login</a
        >
      </div>
    </div>
  </div>
</div>
