<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-10 col-lg-10">
                            <h4 class="card-title">List of Users</h4>
                        </div>
                        <div class="col-sm-2 col-lg-2">
                            <button type="button" class="btn btn-primary" (click)="createUser()">New User</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Username
                                </th>
                                <th>
                                    Full Name
                                </th>
                                <th>
                                    Email
                                </th>
                                <th style="width: 310px;">
                                    Actions
                                </th>
                            </thead>
                            <tbody>
                                <div class="loading-spinner" *ngIf="isLoading">
                                    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
                                </div>
                                <tr *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p}">
                                    <td>
                                        {{user.userName}}
                                    </td>
                                    <td>
                                        {{user.fullName}}
                                    </td>
                                    <td>
                                        {{user.emailAddress}}
                                    </td>
                                    <td>
                                        <div ngbDropdown class="dropdown" placement="bottom-right">
                                            <button class="btn btn-success dropdown-toggle" ngbDropdownToggle>Select
                                                Action</button>
                                            <div ngbDropdownMenu>
                                                <a href="javascript:void(0);" class="dropdown-item" (click)="editUser(user)">Edit</a>
                                                <a href="javascript:void(0);" class="dropdown-item" (click)="delete(user)">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row" class="content-end">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #userContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Configure User</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form *ngIf="active" #createUserForm="ngForm" [formGroup]="frm_create_user" id="frm_create_user" novalidate (ngSubmit)="save()">
            <ngb-tabset type="pills" [orientation]="currentOrientation">
                <ngb-tab title="Basic Info">
                    <ng-template ngbTabContent>
                        <div class="row" style="margin-top: 15px">
                            <div class="col-sm-10 col-lg-10">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Username" formControlName="userName" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 5px">
                            <div class="col-sm-10 col-lg-10">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Full Name" formControlName="fullName" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 5px">
                            <div class="col-sm-10 col-lg-10">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Email" formControlName="emailAddress" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 5px">
                            <div class="col-sm-10 col-lg-10">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Phone" formControlName="cellphoneNumber" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="Address">
                    <ng-template ngbTabContent>
                        <div class="row" style="margin-top: 15px">
                            <div class="col-sm-10 col-lg-10">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Street address" formControlName="address" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 5px">
                            <div class="col-sm-10 col-lg-10">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Suburb" formControlName="suburb" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 5px">
                            <div class="col-sm-10 col-lg-10">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="City" formControlName="city" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 5px">
                            <div class="col-sm-10 col-lg-10">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Postal Code" formControlName="postalCode" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5px">
                            <div class="col-sm-10 col-lg-10">
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Province" formControlName="province" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="Modes">
                    <ng-template ngbTabContent>
                        <p style="margin-top:20px;">Assign mode to user</p>
                        <div class="form-check" style="margin-top:10px;">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                Sunrise
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                        <div class="form-check">

                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                Mid-morning
                                <span class="form-check-sign"></span>
                            </label>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                Mid-day
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                Sunset
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Roles">
                    <ng-template ngbTabContent>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                Admin
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                General
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                    </ng-template>
                </ngb-tab>


            </ngb-tabset>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-light" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>